:root{
    --light-brown:#ffce94;
    --brown:#fcb043;
    --dark-brown:#e2791b;
    --light-blue:#def2fc;
    --text-color:#000;
    --bg-color:#eee;
    --border-color:lightgray;
}

html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    font-family:'Ubuntu';
    background:white;
    overflow-x:hidden;
    color:var(--text-color);
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#navbar{
    display:flex;
    flex-direction:row;
    align-items:center;
    width:90vw;
    margin: 0 auto;
    height:100px;
    position:relative;
    z-index:1;
}

#navbar > img:first-of-type{
    height:50px;
    margin-right:5px;
}

#headers{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#headers > h1{
    margin:0;
    font-size:32px;
    font-weight:700;
}

#headers > p{
    margin:0;
    font-size:14px;
    font-weight:300;
}

.navbar-item{
    margin-left:50px;
    font-weight:300;
    font-size:14px;
    cursor:pointer;
    color:var(--text-color);
    text-decoration:none;
}

#navbar-right{
    position:absolute;
    right:0;
}

#navbar-right > button{
    background:var(--brown);
    border:none;
    outline:none;
    width:200px;
    height:30px;
    font-size:14px;
    font-weight:300;
    border-radius:15px;
    box-shadow:0 0 10px 0 var(--dark-brown);
    font-family:'Ubuntu';
    cursor:pointer;
}

#banner-container{
    background-image:url('./images/desert.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width:100vw;
    height:60vh;  
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
    color:black;
}

#canvas{
    border:1px solid lightgray;
    transition-duration:500ms;
    background:white;
    border-radius:5vmin;
    opacity:0;
}

#game-button{
    position:absolute;
    background:white;
    width:7.5vmin;
    height:7.5vmin;
    border-radius:2vmin;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    bottom:10px;
    left:10px;
    opacity:0.25;
    transition-duration:500ms;
}

#game-button:hover{
    opacity:1;
}

#game-button > img{
    width:5vmin;
}

/*#banner-container > *{
    margin:0;
}

#banner-container > h1{
    font-size:75px;
}

#banner-container > p{
    font-size:24px;
    font-family:'Merriweather';
}*/

#product-list{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    width:100vw;
    margin-top:25px;
}

.product-item{
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
    border:1px solid lightgray;
    padding:25px;
    border-radius:25px;
    background:#eee;
    max-width:175px;
    margin:0 10px 75px 10px;
}

.product-item > img{
    height:50px;
}

.product-item > p{
    position:absolute;
    font-size:12px;
    background:#eee;
    border:1px soild lightgray;
    padding:5px 10px;
    border-radius:5px;
    bottom:-50px;
    color:gray;
}

.product-item > div{
    text-align:center;
}

.product-item > div > h1{
    font-size:24px;
    margin:10px 0;
}

.product-item > div > p{
    font-size:14px;
    font-weight:300;
    color:gray;
    margin:0;
}