:root{
    --light-brown:#ffce94;
    --brown:#fcb043;
    --dark-brown:#e2791b;
    --light-blue:#def2fc;
    --text-color:#000;
    --bg-color:#eee;
    --border-color:lightgray;
}

html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    font-family:'Ubuntu';
    background:white;
    overflow-x:hidden;
    color:var(--text-color);
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#navbar{
    display:flex;
    flex-direction:row;
    align-items:center;
    width:90vw;
    margin: 0 auto;
    height:100px;
    position:relative;
    z-index:1;
}

#navbar > img:first-of-type{
    height:50px;
    margin-right:5px;
}

#headers{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#headers > h1{
    margin:0;
    font-size:32px;
    font-weight:700;
}

#headers > p{
    margin:0;
    font-size:14px;
    font-weight:300;
}

.navbar-item{
    margin-left:50px;
    font-weight:300;
    font-size:14px;
    cursor:pointer;
    color:var(--text-color);
    text-decoration:none;
}

#navbar-right{
    position:absolute;
    right:0;
}

#navbar-right > button{
    background:var(--brown);
    border:none;
    outline:none;
    width:200px;
    height:30px;
    font-size:14px;
    font-weight:300;
    border-radius:15px;
    box-shadow:0 0 10px 0 var(--dark-brown);
    font-family:'Ubuntu';
    cursor:pointer;
}

#banner-container{
    background-image:url('./images/desert.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width:100vw;
    height:60vh;  
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
    color:black;
}

#canvas{
    border:1px solid lightgray;
    transition-duration:500ms;
    background:white;
    border-radius:5vmin;
    opacity:0;
}

#game-button{
    position:absolute;
    background:white;
    width:7.5vmin;
    height:7.5vmin;
    border-radius:2vmin;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    bottom:10px;
    left:10px;
    opacity:0.25;
    transition-duration:500ms;
}

#game-button:hover{
    opacity:1;
}

#game-button > img{
    width:5vmin;
}

/*#banner-container > *{
    margin:0;
}

#banner-container > h1{
    font-size:75px;
}

#banner-container > p{
    font-size:24px;
    font-family:'Merriweather';
}*/

#product-list{
    background:#f9f7f3;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding:15vh 10vw;
}

#product-list-main{
    display:grid;
    gap:25px;
    grid-template-columns: repeat(4, 1fr);
}



.product-bg-1{
    background-image:linear-gradient(black, black), url('./images/desert.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.product-bg-2{
    background-image:linear-gradient(black, black), url('./images/balloon.jpg');
    color:white;
}

.product-bg-3{
    background-image:linear-gradient(black, black), url('./images/night.jpg');
    color:white;
}

.product-bg-4{
    background-image:linear-gradient(black, black), url('./images/plains.jpg');
}

.product-item-large{
    grid-column: span 2;
}

.product-item-long{
    grid-row:1/3;
    grid-column:4;
}

.product-item{
    position:relative;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px 0 gray;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-blend-mode:saturation;
    cursor:pointer;
    transition-duration:250ms;
}

.product-item:hover{
    background-blend-mode:screen;
    transform:scale(1.05);
}

.product-item > div{
    position:absolute;
    display:flex;
    flex-direction:row;
    align-items:center;
    top:25px;
    left:25px;
}

.product-item > div > img{
    height:25px;
    background:white;
    border-radius:50%;
    box-shadow:0 0 10px 0 gray;
    padding:5px;
}

.product-item > div > h1{
    font-weight:300;
    font-size:16px;
    margin:0;
    margin-left:10px;
}

.product-item > h2{
    margin:0;
    margin-top:50px;
    font-size:20px;
    font-weight:700;
}

.product-item > p{
    margin:0;
    margin-top:8px;
    font-size:12px;
}