body{
    margin:0;
    font-family:'Ubuntu';
}

#wrapper{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
}

#wrapper > div:first-of-type{
    background:white;
    width:55vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#wrapper > div:last-of-type{
    background-image:url('https://coolwallpapers.me/picsup/5483779-soccer-wallpapers.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    width:45vw;
    height:100vh
}

#logo-div{
    position:absolute;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    top:25px;
    left:25px;
}

#logo-div > img{
    height:25px;
}

#logo-div > h1{
    margin:0;
    margin-left:5px;
    font-size:14px;
    font-weight:300;
    letter-spacing:1px;
}

#wrapper > div:first-of-type > h1{
    margin:0;
    font-weight:700;
    font-size:50px;
}