:root{
    --light-brown:#d094ff;
    --brown:#b343fc;
    --dark-brown:#7c1be2;
    --light-blue:#def2fc;
    --text-color:#000;
    --bg-color:#eee;
    --border-color:lightgray;
}

.accent{
    color:var(--brown);
}

html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    font-family:'Ubuntu';
    background:#f6f3f9;
    overflow-x:hidden;
    overflow-y:hidden;
    font-size:12px;
    color:var(--text-color);
}

::-webkit-scrollbar {
    width: 14px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background:#eee;
    border:1px solid lightgray;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #aaa; 
}

#sidebar{
    /*background:#310b59;*/
    background:#101010;
    width:200px;
    height:100vh;
    color:white;
    margin:0;
    position:absolute;
    top:0;
}

#sidebar > li:last-of-type > img{
    height:16px;
    filter:invert(1);
}

#sidebar > li:last-of-type > p{
    margin:0;
    margin-left:5px;
    font-size:1em;
}

#sidebar > li:not(.invisible-sidebar){
    list-style-type:none;
    margin-left:-40px;
    display:flex;
    flex-direction:row;
    align-items:center;
    font-size:1.125em;
    font-weight:300;
    padding:10px 20px;
    cursor:pointer;
}

#sidebar > li:last-of-type{
    background:var(--brown);
    width:200px;
    position:absolute;
    bottom:25px;
    right:20px;
    height:26px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    padding:0;
    margin:0;
    border-radius:13px;
}

#sidebar > li > img{
    height:20px;
}

#sidebar > li:first-of-type > img{
    height:35px;
    margin-right:5px;
}

#sidebar > li:first-of-type > h1{
    font-size:2.25em;
    margin:10px 0
}

.active-sidebar {
    background:#202020;
}

#navbar {
    background:white;
    position:absolute;
    top:0;
    right:0;
    width:calc(100vw - 240px);
    height:75px;
    display:flex;
    flex-direction:row-reverse;
    align-items:center;
    justify-content:flex-start;
    border-bottom:1px solid lightgray;
}

#profile{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin:0 25px
}

#profile > img{
    height:30px;
    margin-right:5px;
    cursor:pointer;
}

#profile > div > p{
    font-size:1.125em;
    font-weight:500;
    margin:0;
}

#profile > div > div{
    display:flex;
    flex-direction:row;
}

#profile > div > div > p{
    font-size:1em;
    font-weight:300;
    margin:0;
}

#profile > div{
    display:flex;
    flex-direction:column;
}

#profile > div > div > img{
    filter: invert(43%) sepia(82%) saturate(4939%) hue-rotate(258deg) brightness(98%) contrast(101%);
    height:14px;
}

#notifs {position:relative;}

#notifs > img{
    height:20px;
    cursor:pointer;
}

#notifs > div{
    width:8px;
    height:8px;
    background:var(--brown);
    position:absolute;
    top:0px;
    right:0;
    border-radius:50%;
}

#search-input{
    width:calc(100vw - 595px);
    background:#f6f3f9;
    border:1px solid lightgray;
    border-radius:5px;
    padding-left:10px;
    outline:none;
    font-size:1em;
    height:20px;
    font-weight:300;
}

#search{
    margin:0 25px 0 10px;
    background:var(--brown);
    border:1px solid var(--dark-brown);
    padding:3px 10px;
    font-size:1em;
    border-radius:5px;
    cursor:pointer;
}

#main-container{
    position:absolute;
    bottom:0;
    right:0;
    height:calc(100vh - 125px);
    width:calc(100vw - 290px);
    padding:25px 25px;
    overflow-y:scroll;
    overflow-x:hidden;
}

#main-container > div > h1{
    margin:0;
    font-size:2em;
}

.container:not(.active-container):not(.active-grid){
    display:none;
}

.active-container {
    display:flex;
}

#drafts{
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-start;
    flex-wrap:wrap;
}

#drafts > div{
    margin:10px;
    border:1px solid gray;
    transition-duration:250ms;
    border-radius:10px;
    overflow:hidden;
}

#drafts > div:hover{
    transform:scale(1.05);
    box-shadow:0 0 25px 0 gray;
}

#drafts > div > div:first-of-type{
    background-image:url('https://cdn.vox-cdn.com/thumbor/X0BcMsovx2iiZvMrSc4bgQk5y-g=/0x0:1200x800/1200x800/filters:focal(504x304:696x496)/cdn.vox-cdn.com/uploads/chorus_image/image/70203570/Week12WinnersLosers_AP_Ringer.0.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width:250px;
    height:200px;
    /*border-radius:75px 75px 5px 5px;*/
}

#drafts > div > div:nth-of-type(2){
    display:flex;
    flex-direction:column;
    align-items:center;
    background:white;
}

#drafts > div > div:nth-of-type(2) > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin:25px 0 10px 0;
}

#drafts > div > div:nth-of-type(2) > div > img{
    height:30px;
    margin-right:5px;
}

#drafts > div > div:nth-of-type(2) > div > div > h1{
    font-size:20px;
    margin:0;
    font-weight:500;
}

#drafts > div > div:nth-of-type(2) > div > div > p{
    font-size:12px;
    margin:0;
    font-weight:300;
}

#drafts > div > div:nth-of-type(2) > p{
    font-size:12px;
    font-weight:300;
    margin:0;
    margin-top:5px;
}

#drafts > div > div:nth-of-type(2) > button{
    font-size:12px;
    font-weight:300;
    margin:10px 0;
    width:200px;
    font-size:12px;
    height:20px;
    border:1px solid lightgray;
    background:#eee;
    border-radius:10px;
    transition-duration:250ms;
    cursor:pointer;
}

#drafts > div > div:nth-of-type(2) > button:hover{
    background:#101010;
    border:1px solid black;
    color:white;
}

#drafts > div > div:last-of-type{
    /*background-image:url('https://cdn.vox-cdn.com/thumbor/X0BcMsovx2iiZvMrSc4bgQk5y-g=/0x0:1200x800/1200x800/filters:focal(504x304:696x496)/cdn.vox-cdn.com/uploads/chorus_image/image/70203570/Week12WinnersLosers_AP_Ringer.0.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:bottom;
    width:250px;
    height:75px;
    filter:blur(2px);
    border-radius:5px 5px 75px 75px;*/
    display:none;
}

#version-num{
    position:absolute;
    right:25px;
    background:#eee;
    padding:5px 10px;
    font-size:12px;
    border-radius:5px;
    border:1px solid lightgray;
}

#help-info{
    flex-direction:column;
}

#help-info > *:not(#version-num){
    width:calc(80vw - 250px);
}

#help-info > h1{
    margin:0;
    font-weight:700;
    font-size:9px;
}

#help-info > p{
    margin:12px 0;
    font-size:14px;
    font-weight:300;
}

li{
    font-size:14px;
    font-weight:300;
}

ol{
    margin:6px 0;
}

#help-info > h6{
    margin:0;
    font-weight:300;
    color:gray;
    font-size:12px;
}

#help-info > h2{
    font-size:20px;
    font-weight:300;
    margin:0;
    color:gray;
}

#help-info > h2::before{
    content:'~';
    margin-right:10px;
}

.invisible-sidebar{
    display:none;
}

#dashboard-main{
    padding:25px;
    background:linear-gradient(to right, var(--brown) 0%, var(--dark-brown) 100%);
    width:calc(100vw - 250px);
    border-radius:25px;
}

#dashboard-main > *:first-of-type{
    margin-top:10px;
}

#dashboard-main > *:last-of-type{
    margin-bottom:10px;
}

#dashboard-main > h1{
    margin:0;
    font-weight:700;
    font-size:30px;
}

#dashboard-main > p{
    margin:0;
    font-weight:300;
    font-size:12px;
    letter-spacing:1px;
    width:calc(70vw - 250px)
}

#dashboard-main > button{
    padding:5px 15px;
    font-size:12px;
    border-radius:10px;
    border:1px solid black;
    color:black;
    background:linear-gradient(to right, var(--light-brown) 0%, var(--brown) 100%);
    outline:none;
    cursor:pointer;
}

.inactive-modal{
    display:none;
}

.active-modal{
    display:flex;
}

.modal{
    background:rgba(0, 0, 0, 0.5);
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

#join-draft > div:first-of-type {
    padding:25px;
    width:60vw;
    background:white;
    box-shadow:0 0 50px 5px gray;
    display:flex;
    position:relative;
}

#join-draft > div:first-of-type > div:first-of-type > *{
    width:calc(40vw - 45px);
}

#join-draft > div:first-of-type > div:first-of-type{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

#join-draft > div:first-of-type > div:first-of-type > img{
    height:30px;
} 

#join-draft > div:first-of-type > div:first-of-type > h1{
    font-size:25px;
    font-weight:900;
    margin:0;
}

#join-draft > div:first-of-type > div:first-of-type > h2{
    margin:0;
    font-size:12px;
    font-weight:300;
    color:gray;
    letter-spacing:1px;
}

#join-draft > div:first-of-type > div:last-of-type{
    background-image:url('https://coolwallpapers.me/picsup/5483779-soccer-wallpapers.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height:100%;
    width:20vw;
    position:absolute;
    top:0;
    right:0;
}

#join-draft > div:first-of-type > img:first-of-type{
    height:30px;
}

#join-draft > div:first-of-type > div:first-of-type > p{
    font-size:12px;
    margin:10px 0;
    font-weight:300;
}

.draft-input{
    display:flex;
    flex-direction:row;
    align-items:center;
    background:#eee;
    border:1px solid lightgray;
    border-radius:20px;
    padding:0 20px;
    margin:10px 0;
}

.draft-input > img{
    height:20px;
}

.draft-input > input{
    outline:none;
    border:none;
    height:40px;
    background:transparent;
    padding-left:10px;
    width:calc(40vw - 75px);
}

#join-draft > div:first-of-type > div:first-of-type > button{
    width:calc(40vw - 5px);
    background:#101010;
    color:white;
    border:none;
    font-size:12px;
    height:20px;
    border-radius:10px;
    cursor:pointer;
    transition-duration:250ms;
    outline:none;
}

#join-draft > div:first-of-type > div:first-of-type > button:hover{
    background:#202020;
}

.modal-close{
    background:white;
    position:absolute;
    top:20px;
    right:20px;
    z-index:1;
    height:20px;
    width:20px;
    padding:5px;
    border-radius:50%;
    cursor:pointer;
}

.modal-close > img{
    height:20px;
}

#draft-navbar{
    position:absolute;
    top:0;
    left:0;
}

#draft-navbar > p{
    margin:0;
    width:calc(100vw - 250px);
    background:#94ff99;
    padding:5px 0;
    font-size:12px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

#draft-navbar > p::before, #draft-navbar > p::after{
    content:'~';
}

#draft-navbar > p > span > img{
    margin:0;
    height:12px;
    background:white;
    padding:2px;
    border-radius:50%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

#draft-navbar > p > span{
    position:absolute;
    right:10px;
}

#draft-list{
    margin:0;
    width:calc(100vw - 270px);
    padding:0 10px;
    background:white;
    display:flex;
    flex-direction:row;
    border-bottom:1px solid lightgray;
    border-top:1px solid lightgray;
}

#draft-list > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin:10px 5px;
    padding:5px 10px;
    border-radius:10px;
    cursor:pointer;
    transition-duration:250ms;
}

#draft-list > div:not(.active-draft-navbar){
    border:1px solid lightgray;
    background:#eee;
}

#draft-list > div:hover:not(.active-draft-navbar){
    background:#101010;
    border:1px solid black;
    color:white;
}

#draft-list > div:hover:not(.active-draft-navbar) > img{
    filter:invert(1);
}

#draft-list > div > p{
    font-size:12px;
    margin:0;
}

#draft-list > div > img{
    height:16px;
    margin-right:5px;
}

.active-draft-navbar{
    background:var(--brown);
    border:1px solid black;
    box-shadow:inset 0 0 5px 0 black;
}

#draft-main-container{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
    width:calc(100vw - 250px);
}

#draft-main{
    width:calc(100vw - 555px);
}

#draft-side-info{
    height:100%;
    border-left:1px solid lightgray;
    padding:25px;
    width:250px;
    height:calc(100vh - 175px);
}

@media(max-width:600px){
    #sidebar{
        background:blue;
    }
}