:root{
    --light-brown:#d094ff;
    --brown:#b343fc;
    --dark-brown:#7c1be2;
    --light-blue:#def2fc;
    --text-color:#000;
    --bg-color:#eee;
    --border-color:lightgray;
}

.accent{
    color:vaR(--brown);
}

html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    font-family:'Ubuntu';
    background:#f6f3f9;
    overflow-x:hidden;
    overflow-y:hidden;
    color:var(--text-color);
}

#sidebar{
    background:#310b59;
    width:200px;
    height:100vh;
    color:white;
    margin:0;
    position:absolute;
    top:0;
}

#sidebar > li{
    list-style-type:none;
    margin-left:-40px;
    display:flex;
    flex-direction:row;
    align-items:center;
    font-size:14px;
    padding:10px 20px;
}

#sidebar > li > img{
    height:20px;
}

#sidebar > li:first-of-type > img{
    height:35px;
    margin-right:5px;
}

#sidebar > li:first-of-type > h1{
    font-size:28px;
    margin:10px 0
}

.active-sidebar {
    background:#3f0c6e;
}

#navbar {
    background:white;
    position:absolute;
    top:0;
    right:0;
    width:calc(100vw - 240px);
    height:75px;
    display:flex;
    flex-direction:row-reverse;
    align-items:center;
    justify-content:flex-start;
    border-bottom:1px solid lightgray;
}

#profile{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin:0 25px
}

#profile > img{
    height:30px;
    margin-right:5px;
}

#profile > div > p{
    font-size:14px;
    font-weight:500;
    margin:0;
}

#profile > div > div{
    display:flex;
    flex-direction:row;
}

#profile > div > div > p{
    font-size:12px;
    font-weight:300;
    margin:0;
}

#profile > div{
    display:flex;
    flex-direction:column;
}

#profile > div > div > img{
    filter: invert(43%) sepia(82%) saturate(4939%) hue-rotate(258deg) brightness(98%) contrast(101%);
    height:14px;
}

#notifs {position:relative;}

#notifs > img{
    height:20px;
    cursor:pointer;
}

#notifs > div{
    width:8px;
    height:8px;
    background:var(--brown);
    position:absolute;
    top:0px;
    right:0;
    border-radius:50%;
}